yfinance==0.2.48
nltk==3.9.1
numpy==2.0.2
packaging==24.1
pandas==2.2.3
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
joblib==1.4.2
Flask==3.1.0
Flask-Cors==5.0.0
scikit-learn==1.5.2
seaborn==0.13.2