.App {
  height: 100vh;
  text-align: center;
  padding: 5%;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  border-radius: 20px;
  padding: 5% 0;
  height: 100%;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.article-input{
  border: none;
  font-family: "Roboto Mono", serif;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
}


.article-input:focus{
  outline: none;
}

.submit-button {
  cursor: pointer;
  font-family: "Roboto Mono", serif;
  background-color: rgb(101, 12, 184);
  height: 20%;
  width: 15%;
  border-radius: 10px;
  padding: 1%;
  margin-top: 10px;
  border: none;
  color: white;
}

.submit-button:hover{
  background-color: rgb(149, 56, 255);
}