body {
  height: 100%;
  width: 100%;
  padding: none;
  margin: none;
  font-family: "Roboto Mono", serif;
  background-color: beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
